**/bin/
**/obj/
artifacts/
**/.vs/
**/.vscode/
**/.idea/
**/node_modules/
web/.next/
web/out/
mobile/android/
mobile/ios/
mobile/.expo/
mobile/dist*/
**/*.tsbuildinfo
**/*.user
.git/
.github/
**/.env
**/.env.local
deploy/acme.json
